<div class="jumbotron">
    <h1>Harry's Web API Demo App</h1>
    <p class="lead">
        Thank you for checking out my app. You mentioned that we had total freedom to do what we wanted, so I thought it would be fun to toss up a quick and dirty.NET web app
        instead of a console app. This app gives you the ability to get the data remotely by connecting to an Azure SQL Database (<a href="https://tuyademoapi20200106100020.azurewebsites.net/">check it out here</a>). 
        Or locally so you can do that if you have data you wanted to use on your machine. There were a few questions I had about the project, but I did my best at interpreting them.
        I hope you enjoy!

    <p>To run some queries against the api please visit the Order Reports section.</p>
    </p>
    <p>-Harry Gantz</p>
    
</div>
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Please visit Order Reports to access the API search functionality.</p>
        <p><a class="btn btn-default" href="~/Areas/HelpPage/Views/Help/">to explore the api documentation &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
